{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" style="background-color: #e3f2fd;" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">Our Team</a>

    <div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
    <div class="container">
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'admin_dashboard' %}">admin dashboard</a>
        <a href="{% url 'group_dashboard' %}">admin dashboard</a>
        <h1 class="">our team</h1>
        {% for ot in our_team %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ot.picture.url}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Name: {{ot.user.username}}</h5>
                    <h5 class="card-title">Rank: {{ot.rank}}</h5>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <script src="{% static 'js/boootstrap.min.js' %}"></script>
</body>
</html>